$white: #fff;
$black: #000;
$primary: #64748b;
$secondary: #64748b;
$filterTitle: #292524;
$background: #111827;
$labelActive: $white;
$labelBackground: #64748b;
$labelBackgroundActive: #1e293b;
$buttonBackground: #64748b;
$buttonColor: $black;
$buttonBackgroundHover: $black;
$buttonColorHover: $white;
$background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
$gray: #34495e;
$darkgray: #2c3e50;
$cartInfo: 'title' 'price' 'quantity' 'writer' 'publish-date' 'genres' 'category';
$settingsValue: 'category' 'genre' 'status' 'popular';
