// $primary:#ff0052;
$white: #fff;
$black: #000;
$primary: #6a00ff;
$secondary: #6a00ff;
$filterTitle: #292524;
$background: #111827;
$labelActive: #3737a0;
$labelBackground: #64748b;
$labelBackgroundActive: #1e293b;
$cartInfo: 'title' 'price' 'quantity' 'writer' 'publishDate' 'genres' 'category';
$settingsValue: 'category' 'genre' 'status' 'popular';
